PORT=8080
# text or json
LOG_FORMAT=text
# trace | debug | info | warn | error | fatal | panic
LOG_LEVEL=debug
# set to true to use request logging middleware
LOG_REQUESTS=false
HARDCOVER_TOKEN=""
# (optional) Redis URL for server-side cache persistence; if empty, uses in-memory cache
REDIS_URL=""
