{{- with .Image -}}
<img src="{{ .Url }}" width="{{ .Width }}" height="{{ .Height }}">
{{- end -}}

<h4>Book Information</h4>
<p>
<strong>Release Date: </strong>{{ .ReleaseDate | date "2 January 2006" }} <br/>
{{- if .Compilation -}}
<strong>NOTE: </strong>This is a Compilation <br />
{{- end -}}
{{- with .Authors -}}
<strong>{{ len . | plural "Author" "Authors" }}: </strong>{{ . | join ", " }}<br/>
{{- end -}}
{{- if .Series.Title -}}
<strong>Series:</strong> {{ .Series.Title }} {{ with .Series.Position }}#{{ . }}{{ end }} <br />
{{- end -}}
{{- with .Genres -}}
<strong>{{ len . | plural "Genre" "Genres" }}: </strong>{{ . | join ", " }}
{{- end -}}
</p>

{{- if .Description -}}
	<h4>Summary</h4>
	{{- with .Headline -}}
	<h5 style="font-variant: small-caps">{{ . }}</h5>
	{{- end -}}
	{{- range .Description | split "\n" -}}
	{{ if . }}<p>{{ . }}</p>{{ end }}
	{{- end -}}
{{- end -}}
{{- with .Link -}}
<p>See more on Hardcover: <a href="{{ . }}">{{ . }}</a>
{{- end -}}
