{{- with .Image -}}
<img src="{{ .Url }}" width="{{ .Width }}" height="{{ .Height }}">
{{- end -}}

<h4>Book Information</h4>
<p>
<strong>Release Date: </strong>{{ .ReleaseDate | date "2 January 2006" }}
<br/>
{{- if .Compilation -}}
<strong>NOTE: </strong>This is a Compilation
<br />
{{- end -}}
<strong>{{ len .Contributions | plural "Author" "Authors" }}: </strong>{{ range $i, $e := .Contributions }}{{ if $i }}, {{ end }}{{ $e.Author.Name }}{{ end }}
<br/>
{{- range .BookSeries -}}
<strong>Series:</strong> {{ .Series.Name }} {{ with .Position }}#{{ . }}{{ end }}
<br />
{{- end -}}
{{- if .Genres -}}
<strong>{{ len .Genres | plural "Genre" "Genres" }}: </strong>{{ range $i, $e := .Genres }}{{ if $i }}, {{ end }}{{ $e.Tag.Name }}{{ end }}
{{- end -}}
</p>

{{- if .Description -}}
	<h4>Summary</h4>
	{{- with .Headline -}}
	<h5 style="font-variant: small-caps">{{ . }}</h5>
	{{- end -}}
	{{- range .Description | split "\n" -}}
	{{ if . }}<p>{{ . }}</p>{{ end }}
	{{- end -}}
{{- end -}}
{{- with cat "https://hardcover.app/books/" .Slug | nospace -}}
<p>See more on Hardcover: <a href="{{ . }}">{{ . }}</a>
{{- end -}}
